h1{
    color: red;
}

.extra-ip-city{
    font-size: 10px;
    padding: 0 !important;
}

.special-ip {
    cursor: pointer;
}

.special-ip .ip-tooltip {
    visibility: hidden;
    color: white !important;
    width: 240px;
    background-color: #474747;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-top: 8px;
  }

  .special-ip .ip-tooltip:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-right-color: #474747;
    left: 50px;
    transform: rotate(90deg);
    top: -20px;
  }

  .special-ip .ip-tooltip table tr td{
      border-bottom: none;
  }
  
  .special-ip:hover .ip-tooltip {
    visibility: visible;
  }